@charset "UTF-8";

@media (max-width:400px){

    main{
        padding: 80px 20px;
    }

    header ul{
        flex-flow: row wrap;
    }

    footer{
        padding: 10px 20px;
    }
}

.foto{
    background-image: url(img/doaçao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.646);
}

.foto div{
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 0.92);
    padding: 10px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.doacoes{
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

.doado{
    margin-bottom: 20px;
}

div ul{
    display: flex;
    flex-flow: row wrap;
    list-style-position: inside;
}
div ul li{
    width: 200px;
    gap: 10px;
}

h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.localdoacoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.local{
    width: 300px;
    height: 350px;
    border: 3px solid green;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.local div span{
    display: block;
    text-align: center;
    padding: 10px 5px;
    font-weight: bold;
}

.local div p{
    text-indent: 1em;
}

div iframe{
    width: 300px;
    height: 300px;
    padding-top: 10px;
}

.sabermais{
    margin-bottom: 50px;
    background-color: rgba(0, 128, 0, 0.205);
    width: 280px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.linkmaps{
    color: rgb(1, 162, 1);
}

.formdoar{
    display: flex;
    justify-content: center;
}
.formdoar h2{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 128, 0, 0.466);
    max-width: 600px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.669);
}
form p{
    margin-bottom: 20px;
}
form input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 15px;
}
form input:focus-within{
    background-color: greenyellow;
    color: black;
}
.botoes{
    display: flex;
}

.botao [type=reset], [type=submit]{
    width: 110px;
    font-size: 1.2em;
    background-color: rgb(6, 70, 6);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
   color: white;
}
